/*        適用於電腦螢幕*/
@media screen{
    div{
        
    }
    header{
        height:10vh;
    }
    nav{
       
    }
    slider{
        background:yellow;
        width:200px;
        height:80vh;
        text-align:center;
        line-height:400px;
        float:left; 
    }
   
    aside{
       
    }
   
    span{
        display: none;
    }
    
    footer{
        clear:both;
        background-color:#FFD4D4;
        height:10vh;
        text-align:center;
        line-height:80px;
    }

    .content{
        margin-left:200px;
        height:80vh;
        background-color:black;
        text-align:center;
        line-height:400px;
        }
}

/*        適用螢幕寬度小於480px的裝置（當螢幕小於480px時）*/
@media screen and (max-width:480px){
    div{
       
    }
    header{
        height:10vh;
    }
    nav{
      
    }

    slider{
        background: yellow;
    }
    aside{
       
    }
    span{
        width:80%;
        margin: auto;
        height:auto;
        text-align: center;
        display: block;
        padding-top: 30px;
    }
    footer{
        clear:both;
        background-color:#FFD4D4;
        height:10vh;
        text-align:center;
        line-height:80px;
       
    }
}
/*        適用於平版直著拿的情況（平版橫著拿的情況就和電腦螢幕相同）*/
@media screen and (min-width:481px) and (max-width:768px){
     div{
       
    }
    header{
        height:10vh;
    }
    nav{
       
    }
    slider{
        background: brown;
    }
   
    aside{
       
    }
   
    span{
        display: none;
    }
    footer{
        clear:both;
        background-color:#FFD4D4;
        height:10vh;
        text-align:center;
        line-height:80px;
    }
}